{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "airbnb"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "__OPTMEDIA__": true
  },
  "rules": {
    "quotes": ["error", "double"],
    "semi": ["error", "never"],
    "padding-line-between-statements": ["error", 
      { "blankLine": "always", "prev": ["const", "let"], "next": "*" },
      { "blankLine": "any", "prev": ["const", "let"], "next": ["const", "let"] },
      { "blankLine": "always", "prev": "return", "next": "*" }
    ],
    "no-console": ["error", {
      "allow": ["warn", "error"]
    }],
    "padded-blocks": ["error", {
      "classes": "always" 
    }],
    "no-underscore-dangle": ["error", {
      "allow": [
        "__OPTMEDIA__",
        "_options"
      ]
    }],
    "no-param-reassign": ["error", {
      "ignorePropertyModificationsFor": [
        "Component"
      ]
    }],
    "react/jsx-props-no-spreading": ["error", {
      "exceptions": [
        "Component"
      ]
    }],
    "camelcase": ["error", {
      "allow": [
        "^plugin_",
        "^settings_",
        "drop_console",
        "dead_code"
      ]
    }],
    "comma-dangle": ["error", "always-multiline"],
    "react/static-property-placement": ["error", "static public field"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": "off",
    "react/forbid-foreign-prop-types": "off"
  }
}