{
  "extends": "stylelint-config-sass-guidelines",
  "plugins": [
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "max-nesting-depth": 2,
    "scss/at-import-partial-extension-blacklist": null,
    "plugin/selector-bem-pattern": {
      "preset": "bem"
    }
  }
}
